
/* --- CLASSES --- */
.grid_container {
  display: grid;
  margin: 0 auto;
  min-width: 100vh;
  min-height: 100vh;
  grid-template-rows: repeat(2,60px) repeat(3, 1fr) 60px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

/* --- HEADER --- */
.header_top {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}
.header_bottom {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}

/* --- MAIN --- */
.item {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 4px;
  padding: 8px;
  border-right: 1px solid;
  border-bottom: 3px solid;
  border-radius: 5px;
  background-color: #ffffff;
}
.content1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.content2 {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.content3 {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

/* --- FOOTER --- */
.footer_container {
  display: flex;
  grid-column-start: 1; 
  grid-column-end: 4; 
  grid-row-start: 6; 
  grid-row-end: 7;
  text-align: center;
}